<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft chat</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        var socket = io();

        //let tempbanned = []

        socket.emit('chatstart', '<%= sessid %>')

        socket.on('chat message', function(msg){
            console.log(msg)
            /*if (!(tempbanned.includes(msg.username))) {
                $('#messages').append($('<li>').text(`${msg.username}: ${msg.message}`));
            }*/

            $('#messages').append($('<li>').html(msg.message));

            //scroll down
            var elem = document.getElementById('messages');
            elem.scrollTop = elem.scrollHeight;
        });

        function sendMessage() {
            socket.emit('chat message', $('#newmsg').val())
            $('#newmsg').val('')
        }

        /*function createMute() {
            tempbanned.push($('#newmute').val())
            $('#muted').append($('<li>').text($('#newmute').val()));
            $('#newmute').val('')
        }*/
    </script>
</head>
<body>
    <div id="data">
        <br>
        <!--div id="data" class="overflow-y: scroll; height: 100vh;">-->
            <ul id="messages"></ul>
        <!--</div>-->
    </div>
    <div id="actionbar">
        <form action="kirjaudu-ulos">
            <button class="button">
                <span>Log out</span>
            </button>                
        </form>
        <input type="text" id="newmsg" placeholder="Your message or command...">
        <button class="button" onclick="sendMessage()">Send</button>
        <!--<hr>
        <h4>Temp muted</h4>
        <input type="text" id="newmute">
        <button onclick="createMute()">Mute</button>
        <ul id="muted"></ul>-->
    </div>
</body>
</html>